<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
</head>
<body>
    <h1>Editar productos</h1>
   
    <form action="/productos/edit/<%= productoFound.id %>" method="POST">
        <input type="text" name="id" value="<%= productoFound.id %>" readonly placeholder="Colocar ID del usuario">
        <br>
        <input type="text" name="nombre" value="<%= productoFound.nombre %>" placeholder="Nombre del usuario">
        <br>
        <input type="text" name="mail" value="<%= productoFound.precio %>" placeholder="Colocar correo">
        <br>
        <input type="text" name="descripcion" value="<%= productoFound.descripcion %>" placeholder="Colocar la descripcion del usuario">
        <br>
        <button type="submit">EDITAR</button>
    </form>
</body>
</html>